name: React.js Pipeline-CI

on:
  push:
    branches:
      - main

jobs:
  frontend-code-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./quiz-app
    strategy:
      matrix:
        node-version: [20.x]
        architecture: [x64]
    steps:
      - name: Check-out git repository  
        uses: actions/checkout@v4

      - name: USE NODEJS ${{ matrix.node-version }} - ${{ matrix.architecture }}
        uses: actions/setup-node@v4

      - name: Install project dependencies 
        working-directory: ./quiz-app
        run: |
          npm i
          npm run lint
          npm install --save-dev --save-exact prettier
          npm run prettier
          npm test
        env:
          CI: true 

      - name: Build
        run: npm run build
        working-directory: ./quiz-app

  frontend-image-build:
    needs: frontend-code-build
    runs-on: ubuntu-latest
    permissions:
      contents: read 
      security-events: write 
      actions: read
    steps:
    - uses: actions/checkout@v4
    
    - name: Build and push backend Docker image
      working-directory: ./quiz-app
      run: |
        docker build . -t ${{ secrets.DOCKER_USERNAME }}/quiz-app-frontend
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin 
        docker push ${{ secrets.DOCKER_USERNAME }}/quiz-app-frontend   

  backend-code-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    strategy:
      matrix:
        node-version: [20.x]
        architecture: [x64]
    steps:
      - name: Check-out git repository  
        uses: actions/checkout@v4
  
      - name: USE NODEJS ${{ matrix.node-version }} - ${{ matrix.architecture }}
        uses: actions/setup-node@v4
  
      - name: Install project dependencies 
        working-directory: ./backend
        run: |
          npm i
          npm run lint
          npm install --save-dev --save-exact prettier
          npm run prettier
          npm test
        env:
          CI: true 

  backend-image-build:
    needs: backend-code-build
    runs-on: ubuntu-latest
    permissions:
      contents: read 
      security-events: write 
      actions: read
    steps:
    - uses: actions/checkout@v4
    
    - name: Build and push backend Docker image
      working-directory: ./backend
      run: |
        docker build . -t ${{ secrets.DOCKER_USERNAME }}/quiz-app-backend
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin 
        docker push ${{ secrets.DOCKER_USERNAME }}/quiz-app-backend
  

  update-kube-manifests:
    needs: [frontend-image-build, backend-image-build]
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to push changes
    steps:
    - uses: actions/checkout@v4

    - name: Update Kubernetes manifests
      run: |
        git clone https://github.com/life-in-devops/DevSecOps-Quiz-App-Project-Kubernetes-Manifests.git
        cd DevSecOps-Quiz-App-Project-Kubernetes-Manifests/kubernetes-manifest
        git checkout main

        # Debug before replacing
        echo "Before update:"
        cat frontend.yaml backend.yaml

        # Update frontend deployment file
        sed -i 's|image: .*/quiz-app-frontend:.*|image: '"${{ secrets.DOCKER_USERNAME }}"'/quiz-app-frontend:'"${{ env.IMAGE_TAG }}"'|' frontend.yaml
          
        # Update backend deployment file
        sed -i 's|image: .*/quiz-app-backend:.*|image: '"${{ secrets.DOCKER_USERNAME }}"'/quiz-app-backend:'"${{ env.IMAGE_TAG }}"'|' backend.yaml

        # Debug after replacing
        echo "After update:"
        cat frontend.yaml backend.yaml
          
        git config --global user.email "github-actions@github.com"
        git config --global user.name "GitHub Actions"
        
        # Ensure changes are staged
        git add -A

        # Debug to check if changes exist
        git status
        
        # Commit only if changes exist
        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          git commit -m "Updated frontend and backend images to ${{ env.IMAGE_TAG }}"
          git push https://${{ secrets.PAT_TOKEN }}@github.com/life-in-devops/DevSecOps-Quiz-App-Project-Kubernetes-Manifests.git main 
        fi